<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body style="background:#000000">
    <header>
        <div class="container">
            <div class="row">
                <div>
                <img src="/assets/img/logo.jpg" alt="logo" height="100">

                </div>
                <div>
                <h6 style="margin-top:80px; color:#805500">WE CATER YOUR CAFFEINE. SMOOTHLY.</h6>

                </div>
            </div>

        </div>

    </header>
    <main>
        <div class="container">
        <div class="row">
            
            <div class="jumbotron" style="margin-top:30px; width:600px;height:300px; padding-top:120px; background-color:lightgray;"><h2 style="color:#805500;">THIS SITE IS UNDER DEVELOPMENT</h2></div>
            
            <div style="margin-top: 280px;">
            <button type="button" class="btn btn-primary" style="padding:10px; width:500px;margin-left:20px; background-color:#9e4501; border-color:#9e4501;"><center><h5 style="color:lightgrey;">Send your message via Whatsapp +62 818181828</h5></center></button>>

            </div>
        </div>

        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/assets/jquery/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="/assets/js/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>